body {
    font-family: 'Times New Roman';
    background-color: lightgray;
    color: black;
    line-height: 1.6;
    text-align: center;
}

h1 {
    font-size: 30px;
    text-decoration: underline;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 30px;
}

p {
    font-size: 20px;
    letter-spacing: 2px;
}

ul, ol {
    text-align: left;
    padding-left: 800px;
}

a {
    font-size: 16px;
    color: blue;
    text-decoration: underline;
}

img {
    background-color: white;
    height: 200px;
    width: 200px;
    border-width: 3px;
    border-style: dotted;
    border-color: black;
    border-radius: 100px;
}